* {
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

@mixin centrar {
  text-align: center;
  font-size: large;
}

.personalizar {
  @include centrar;
  font-size: x-large;
}