@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.imgGaleria {
    width: 100%;
    height: 250px;

    &:hover {
        border: 5px solid rgb(202, 155, 181);
    }
}

.centrar{
    border:none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
a{
    text-align: center;
}